<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 100" class="app-logo-normal">
      <!-- Imagen -->
      <image href="/images/logo_assist.png" x="38%" y="10" height="75" width="75"/>
      <!-- Texto ASSIST -->
      <text x="50%" y="90" font-family="Arial, sans-serif" font-size="20" font-weight="700" fill="var(--primary-color)" text-anchor="middle">ASSIST</text>
      <!-- Texto SOFTWARE -->
      <text x="50%" y="95" font-family="Arial, sans-serif" font-size="5" font-weight="400" fill="var(--primary-color)" text-anchor="middle">SOFTWARE</text>
    </svg>

    @if (response){
      <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(0, 102, 255, 0) 30%);">
        <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center" style="border-radius:53px">
        <div class="grid flex flex-column align-items-center">
            <div class="flex justify-content-center align-items-center border-circle" style="width:3.2rem; height:3.2rem;background: var(--primary-color)">
              <i class="text-50 pi pi-fw pi-lock text-2xl"></i>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 40" class="app-logo-normal">
              <text x="50%" y="20" font-family="Arial, sans-serif" font-size="20" font-weight="600" fill="var(--primary-color)" text-anchor="middle">Recuperar contraseña</text>
            </svg>
            <span class="text-600 mb-5">Ingrese su nombre de usuario para restablecer su contraseña</span>

            <div>
              <form [formGroup]="resendForm" (ngSubmit)="onSubmit()" novalidate>
                <label for="usuario" class="block text-900 text-xl font-medium mb-2">Usuario</label>
                <span class="p-input-icon-left w-full mb-4" id="usuario">
                <i class="pi pi-user"></i>
                  <input
                    id="username"
                    type="text"
                    pInputText
                    class="w-full md:w-25rem"
                    placeholder="Nombre de usuario"
                    formControlName="usuario"
                    autocomplete="off">
            </span>
                @if (resendForm.get('usuario')?.invalid && (resendForm.get('usuario')?.touched || resendForm.get('usuario')?.dirty)) {
                  <small class="text-red-500 text-sm mt-1 block">El nombre de usuario es requerido</small>
                }
                <div class="flex flex-wrap gap-2 justify-content-between">
                  <button pButton pRipple label="Cancelar" class="flex-auto p-button-outlined" [routerLink]="['/assist/auth']"></button>
                  <button pButton pRipple label="Enviar" class="flex-auto" ></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
        } @else if (serviceResponse.success) {
      <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(0, 102, 255, 0) 30%);">
        <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center" style="border-radius:53px">
        <div class="grid flex flex-column align-items-center">
              <div class="flex justify-content-center align-items-center border-circle" style="width:3.2rem; height:3.2rem;background: var(--primary-color)">
                <i class="text-50 pi pi-check-circle"></i>
              </div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 40" class="app-logo-normal">
            <text x="50%" y="30" font-family="Arial, sans-serif" font-size="30" font-weight="600" fill="var(--primary-color)" text-anchor="middle">Exito</text>
          </svg>
          <span class="text-600 mb-5">{{serviceResponse.message}} Verifique su correo</span>
          <div class="flex flex-wrap gap-2 justify-content-between">
            <button pButton pRipple label="Regresar" class="flex-auto p-button-outlined" [routerLink]="['/assist/auth']"></button>
          </div>
        </div>
        </div>
      </div>
        } @else {
      <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--red-500) 10%, rgba(0, 102, 255, 0) 30%);">
        <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center" style="border-radius:53px">
          <div class="grid flex flex-column align-items-center">
            <div class="flex justify-content-center align-items-center border-circle" style="width:3.2rem; height:3.2rem;background: var(--red-500)">
              <i class="text-50 pi pi-times-circle"></i>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 40" class="app-logo-normal">
              <text x="50%" y="30" font-family="Arial, sans-serif" font-size="30" font-weight="600" fill="var(--red-500)" text-anchor="middle">Error</text>
            </svg>
            <span class="text-600 mb-5">{{serviceResponse.message}} Revisa tus datos y prueba nuevamente.</span>
            <div class="flex flex-wrap gap-2 justify-content-between">
              <button pButton pRipple label="Regresar" class="flex-auto p-button-outlined" [routerLink]="['/assist/auth/login']"></button>
            </div>
          </div>
        </div>
      </div>
    }
      </div>
    </div>

<app-config [minimal]="true"></app-config>
