<div class="card">
  <span class="block text-900 font-bold text-xl mb-4">Consulta de documentos</span>
  <div class="grid grid-nogutter flex-wrap gap-3 p-fluid">
    <div class="col-12 lg:col-8">
      <div class="grid formgrid">
        <div class="col-12 lg:col-4 field">
          <input pInputText type="text" placeholder="Año" label="Periodo" [(ngModel)]="periodo">
        </div>
        <div class="col-12 lg:col-4 field">
          <input pInputText type="text" placeholder="Fecha" label="fecha" [(ngModel)]="fecha">
        </div>
        <div class="col-12 lg:col-4 field">
          <input pInputText type="text" placeholder="Sigla" label="sigla" [(ngModel)]="sigla">
        </div>
        <div class="col-12 lg:col-4 field">
          <input pInputText type="text" placeholder="Almacen" label="almacen" [(ngModel)]="almacen">
        </div>
        <div class="col-12 lg:col-4 field">
          <input pInputText type="text" placeholder="Serie" label="serie" [(ngModel)]="serie">
        </div>
        <div class="col-12 lg:col-4 field">
          <input pInputText type="text" placeholder="Numero" label="numero" [(ngModel)]="numero">
        </div>
      </div>
    </div>
  </div>
</div>
