<div class="card">
  <span class="block text-900 font-bold text-xl mb-4">Consulta de documentos</span>

  <!-- Filtros iniciales -->
  <div class="grid p-fluid">
    <div class="grid formgrid">
      <div class="col-1 field">
        <button pButton pRipple type="button" title="Mostrar filtros" [icon]="mostrarFiltros ? 'pi pi-filter-slash' : 'pi pi-filter'" (click)="toggleMasFiltros()" class="p-button-rounded"></button>
      </div>
      <div class="col-12 lg:col-2 field">
        <p-calendar dateFormat="dd-mm-yy" placeholder="Fecha" [required]="true" inputId="fecha" [(ngModel)]="fecha"></p-calendar>
      </div>
      <div class="col-12 lg:col-2 field">
        <p-autoComplete inputId="sigla" placeholder="Sigla" [(ngModel)]="sigla" [suggestions]="filteredCountries"
                        (completeMethod)="searchSigla($event)" field="ctiId">
        </p-autoComplete>
      </div>
      <div class="col-12 lg:col-3 field">
        <p-dropdown inputId="almacen" placeholder="Almacen" [options]="almacenes" [(ngModel)]="almacenSelected"
                    optionLabel="almId" (onChange)="onAlmacenChange($event)">
          <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center">
              <div class="flex-shrink-0 w-1rem h-1rem mr-2 border-circle"
                   [style.background-color]="'#5676e1'"></div>
              <div>{{ almacenSelected.nombre }}</div>
            </div>
          </ng-template>
          <ng-template let-alm pTemplate="item">
            <div class="flex align-items-center">
              <div class="mr-2">{{ alm.almId }}</div>
              <div>{{ alm.nombre }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="col-12 lg:col-2 field">
        <input pInputText type="number" placeholder="Serie" label="serie" [(ngModel)]="serie">
      </div>
      <div class="col-12 lg:col-2 field">
        <input pInputText type="number" placeholder="Numero" label="numero" [(ngModel)]="numero">
      </div>
      @if (mostrarFiltros) {
        <div class="col-12 lg:col-2 field">
          <p-calendar [(ngModel)]="periodo" view="year" dateFormat="yy" placeholder="Periodo" />
        </div>
        <div class="col-12 lg:col-2 field">
          <p-calendar [(ngModel)]="mes" view="month" dateFormat="MM" placeholder="Mes"/>
        </div>
        <div class="col-12 lg:col-2 field">
          <input pInputText type="number" placeholder="Referencia" label="referencia" [(ngModel)]="referencia">
        </div>
        <div class="col-12 lg:col-2 field">
          <p-dropdown inputId="dropdown" placeholder="Estado" [options]="estados" [(ngModel)]="estado" optionLabel="name"></p-dropdown>
        </div>
        <div class="col-12 lg:col-2 field">
          <p-dropdown inputId="dropdown" placeholder="Tipo Documento" [options]="tipoDocs" [(ngModel)]="tipodoc" optionLabel="tpdId"></p-dropdown>
        </div>
        <div class="col-12 lg:col-2 field">
          <input pInputText type="text" placeholder="Concepto" label="concepto" [(ngModel)]="concepto">
        </div>
      }

    </div>

  </div>

  <button type="button" (click)="find()" class="p-button p-component">
    <span class="p-button-icon p-button-icon-left pi pi-search"></span>
    <span class="p-button-label">Buscar</span>
  </button>

  <div>
    <p-table
      #cco
      [value]="listaComprobantes" dataKey="ccoCodigo" [rows]="5" [loading]="loading" [rowHover]="true"
      [paginator]="true" [responsiveLayout]="'scroll'" [globalFilterFields]="['fecha', 'dspComproba', 'doctran']"
      currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} entradas">
      <!-- Encabezado de la Tabla -->
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th pSortableColumn="nombre">
            Nombre
            <p-sortIcon field="nombre"></p-sortIcon>
          </th>
          <th pSortableColumn="rucCedula">
            Ruc Cedula
            <p-sortIcon field="rucCedula"></p-sortIcon>
          </th>
          <th pSortableColumn="telefono">Teléfono</th>
          <th pSortableColumn="mail">Correo</th>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
