<div class="card">
  <div class="grid grid-nogutter">
    <div class="col-12">

    </div>
    <div class="col-12">
      <span class="text-900 block font-bold text-xl">Carga de archivo solicitud de Importacion</span>
    </div>
    <div class="col-12">
      <ul class="flex list-none flex-wrap">
        <li class="flex align-items-center text-primary mr-2">Carga Solicitud <i class="pi pi-chevron-right text-500 text-xs ml-2"></i></li>
        <li class="flex align-items-center text-500 mr-2">Información<i class="pi pi-chevron-right text-500 text-xs ml-2"></i></li>
        <li class="flex align-items-center text-500 mr-2">Lista productos <i class="pi pi-chevron-right text-500 text-xs ml-2"></i></li>
        <li class="flex align-items-center text-500 mr-2">Solicitud Orden</li>
      </ul>

      <div class="col-12">
          <button pButton pRipple [label]="getButtonLabel()" icon="pi pi-search" class="p-button-outlined mr-1" (click)="abrirModal()"></button>
          <app-modalcliente [tipoCliente]="tipocliente" [visible]="modalVisible"></app-modalcliente>
      </div>

      @if (proveedor){
        @if (listItems.length >0){
          <div class="mt-1">
            <div class="card">
              <p-table [value]="listItems" dataKey="nombre" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                  <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5>Lista de Items</h5>
                    <button pButton pRipple label="Seleccionar Nuevo Archivo" icon="pi pi-check" class="p-button-outlined" (click)="cargarNuevo()"></button>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 1rem"></th>
                    <th pSortableColumn="id">Barra</th>
                    <th pSortableColumn="nombre">Nombre</th>
                    <th pSortableColumn="item">Item</th>
                    <th pSortableColumn="cantidad">Cantidad</th>
                    <th pSortableColumn="cbm">CXB</th>
                    <th pSortableColumn="fob">FOB</th>
                    <th pSortableColumn="cbm">CBM</th>
                    <th pSortableColumn="cbm">Cantidad Total</th>
                    <th pSortableColumn="cbm">CBM Total</th>
                    <th pSortableColumn="cbm">FOB Total</th>
                    <th pSortableColumn="cbm">Trancito</th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-expanded="expanded">
                  <tr>
                    <td style="width: 1rem">
                      @if (item.trancitos){
                        <button type="button" pButton pRipple [pRowToggler]="item" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                      }
                    </td>
                    <td>
                      <div class="border-round m-2 p-2 text-left" style="display: block;">
                        <div class="font-medium">{{ item.id }}</div>
                        <small class="mt-1" style="font-size: 10px" [class]="'item-badge status-' + item.status.toLowerCase()">
                          {{ item.status }}
                        </small>
                      </div>
                    </td>

                    <td style="min-width: 8rem;">{{item.nombre}}</td>
                    <td style="min-width: 10rem;">{{item.item}}</td>
                    <td class="text-right" style="min-width: 10rem;">{{item.cantidad}}</td>
                    <td class="text-right" style="min-width: 10rem;">{{item.cxb}}</td>
                    <td class="text-right" style="min-width: 10rem;">{{ item.fob | number:'1.4-4' }}</td>
                    <td class="text-right" style="min-width: 10rem;">{{ item.cbm | number:'1.2-2' }}</td>
                    <td class="text-right" style="min-width: 10rem;">{{item.cantidadTotal}}</td>
                    <td class="text-right" style="min-width: 10rem;">{{ item.cbmTotal | number:'1.2-2' }}</td>
                    <td class="text-right" style="min-width: 10rem;">{{ item.fobTotal | number:'1.4-4' }}</td>
                    <td class="text-right" style="min-width: 10rem;">{{item.cantidadTrancito}}</td>
                    <td>
                      <div class="flex">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="editItem(item)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteItem(item)"></button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-item>
                  <tr>
                    <td colspan="8">
                      <div class="p-3">
                        <p-table [value]="item.trancitos" dataKey="id" responsiveLayout="scroll">
                          <ng-template pTemplate="header">
                            <tr>
                              <th pSortableColumn="fecha">Fecha <p-sortIcon field="fecha"></p-sortIcon></th>
                              <th pSortableColumn="nroComprobante">Numero Comprobante<p-sortIcon field="nroComprobante"></p-sortIcon></th>
                              <th pSortableColumn="observacion">Observación</th>
                              <th pSortableColumn="cantidadPedida">Cantidad Pedida <p-sortIcon field="cantidadPedida"></p-sortIcon></th>
                              <th pSortableColumn="fob">FOB</th>
                              <th pSortableColumn="fobTotal">FOB Total</th>
                              <th pSortableColumn="tipoDoc">Tipo Documento</th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-trancito>
                            <tr>
                              <td>{{trancito.fecha}}</td>
                              <td>{{trancito.nroComprobante}}</td>
                              <td>{{trancito.observacion}}</td>
                              <td class="text-right" style="min-width: 10rem;">{{trancito.cantidadPedida | number:'1.2-2'}}</td>
                              <td class="text-right" style="min-width: 10rem;">{{trancito.fob | number:'1.4-4' }}</td>
                              <td class="text-right" style="min-width: 10rem;">{{trancito.fobTotal | number:'1.4-4' }}</td>
                              <td>{{trancito.tipoDoc}}</td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <button pButton pRipple label="Continuar" icon="pi pi-check"></button>
            </div>
          </div>

          <p-dialog [(visible)]="itemDialog" [style]="{width: '450px'}" header="Detalle del item {{item.nombre}}" [modal]="true" [closable]="false" class="p-fluid uppercase">
            <ng-template pTemplate="content">
              @if (imageUrl){
                <img [src]="imageUrl" [alt]="item.nombre" width="150" class="mt-0 mx-auto mb-5 block shadow-2">
              }
              <div class="field">
                <small class="ng-dirty ng-animating text-">Cantidad anterior {{cantidadAnterior}}</small>
                <input type="text" pInputText id="cantidad" [(ngModel)]="item.cantidad" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !item.cantidad}">
                @if (submitted && item.cantidad) {
                  <small class="ng-dirty ng-invalid">Cantidad es requerida</small>
                }
              </div>
              <div class="field">
                <small class="ng-dirty ng-animating">FOB anterior {{fobAnterior}}</small>
                <input type="text" pInputText id="fob" [(ngModel)]="item.fob" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !item.fob}">
                @if (submitted && item.fob) {
                  <small class="ng-dirty ng-invalid">FOB es requerida</small>
                }
              </div>
              <div class="field">
                <small class="ng-dirty ng-animating">CBM anterior {{cbmAnterior}}</small>
                <input type="text" pInputText id="cbm" [(ngModel)]="item.cbm" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !item.fob}">
                @if (submitted && item.cbm) {
                  <small class="ng-dirty ng-invalid">FOB es requerida</small>
                }
              </div>
              <div class="field">
                <small class="ng-dirty ng-animating">CBM anterior {{cxbAnterior}}</small>
                <input type="text" pInputText id="cxb" [(ngModel)]="item.cxb" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !item.fob}">
                @if (submitted && item.cxb) {
                  <small class="ng-dirty ng-invalid">FOB es requerida</small>
                }
              </div>
            </ng-template>

            <ng-template pTemplate="footer">
              <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
              <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveItem()"></button>
            </ng-template>
          </p-dialog>

          <p-dialog [(visible)]="deleteItemDialog" header="Confirmacion" [modal]="true" [style]="{width: '450px'}">
            <div class="flex align-items-center justify-content-center">
              <i class="pi pi-exclamation-triangle mr-3 text-yellow-800" style="font-size: 2rem"></i>
              <span>¿Esta seguro de eliminar este item?</span>
            </div>
            <ng-template pTemplate="footer">
              <button pButton pRipple icon="pi pi-times" class="p-button-text p-button-info" label="No" (click)="deleteItemDialog = false"></button>
              <button pButton pRipple icon="pi pi-check" class="p-button-text p-button-danger" label="Si" (click)="confirmDelete()"></button>
            </ng-template>
          </p-dialog>
        }

        @if (listItems.length ==0) {
          <div class="col-12">
            <div class="card justify-content-center">
              <span class="text-900 text-2xl block font-medium mb-5">Seleccionar o arrastrar archivo</span>
              @if (loading){
                <i class="pi pi-spin pi-spinner" style="font-size: 2rem; color: #70aeff"></i>
              }@else{
                <p-fileUpload
                  name="solicitud[]"
                  url="https://www.primefaces.org/cdn/api/upload.php"
                  (onUpload)="onUpload($event)"
                  [multiple]="false"
                  accept=".xlsx"
                  chooseLabel="Seleccionar"
                  uploadLabel="Subir"
                  cancelLabel="Cancelar"
                  [maxFileSize]="20971520"> <!--20MB-->
                  <ng-template  pTemplate="content">
                    @if (uploadFiles.length){
                      <ul>
                        @for (file of uploadFiles; track $index){
                          <li>
                            {{ file.name }} - {{ file.size }} bytes
                          </li>
                        }
                      </ul>
                    }
                  </ng-template>
                </p-fileUpload>
              }
            </div>

          </div>
        }
      }

    </div>
  </div>
  <p-scrollTop icon="pi pi-arrow-up"></p-scrollTop>
</div>
